html, body{
  margin: 0px;
}
header{
  background-color: #54FF9F;
  color: #FF69B4;
  text-align: center;
}
h1{
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  padding-top: 12px;
  padding-left: 10px;
  font-size: 34px;
}
h2{
  font-family: 'Times New Roman';
  margin: 0;
  padding-left: 10px;
  padding-bottom: 14px;
  font-size: 24px;
}
li{
  padding-left: 0;
  padding-top: 0.25em;
  margin-bottom: 0;
  background-color: rgb(black);
}
header li{
  display: inline-block;
  margin-right: 12px;
  font-family:'Kaushan Script', cursive;
  margin: 0 1em;
}